.local
.mozilla
.npm
.pki
.ssh
.steam
.var
.vscode
Desktop
Documents
Downloads
Games
Music
Pictures
Public
Templates
Videos
.bash_history
.bash_logout
.bash_profile
.bashrc
.gitconfig
.viminfo
.steampath
.steampid
.config/gnome-session
.config/gnome-session/saved-session
.config/goa-1.0
.config/enchant
.config/evolution
.config/dconf
.config/Code
.config/coc
.config/btop
.config/BraveSoftware
.config/abrt
.config/nautilus
.config/obs-studio
.config/omf
.config/org.gnome.Ptyxis
.config/pulse
.config/transmission
.config/vesktop
.cache
.config/ibus
.config/.gsd-keyboard.settings-ported
.config/gnome-initial-setup-done
.config/GNOME-xdg-terminals.list
.config/monitors.xml
.config/monitors.xml~
.config/pavucontrol.ini
.config/QtProject.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xdg-terminals.list
.redhat
.config/Vencord/
.config/discordcanary/
.config/libreoffice/
.config/mimeapps.list
.config/systemd/
.config/xsettingsd/
.gnupg/
.oh-my-zsh/
.shell.pre-oh-my-zsh
.zcompdump-pineapple-5.9
.zcompdump-pineapple-5.9.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
.oh-my-zsh/
.shell.pre-oh-my-zsh
.zcompdump-pineapple-5.9
.zcompdump-pineapple-5.9.zwc
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
.config/discord
.config/Electron
.config/fish
.config/nwg-look
.config/mimeapps.list
.config/project.zip
.oh-my-zsh/
/home/lynder063/.oh-my-zsh
.config/jellyfin.org/
.config/vlc
/Screenshots
Documents/Dockerfile
.config/qBittorrent/
.config/pupgui
.config/jellyfin-mpv-shim
.config/glib-2.0
.config/mpv
.config/project.zip
.nv
.nv/ComputeCache
.config/gtk-4.0
go/
