## Home folder ignore files
.bashrc
Desktop/
Documents/
Downloads/
Games/
.gtkrc-2.0
.gtkrc-2.0-kde4
.local/
.mozilla/
Music/
.npm
.nv
Pictures/
.pki
Public/
.ssh/
Templates/
.var/
Videos/
.cache/
.gitconfig
.bash_history
.bash_logout
.bash_profile
.themes
.fonts
.oh-my-zsh/
.shell.pre-oh-my-zsh
.zcompdump-pineapple-5.9
.zcompdump-pineapple-5.9.zwc
.zsh_history
go/

## .config ignore files
.config/obs-studio/
.config/vlc/
.config/vlc/vlc-qt-interface.conf
.config/libreoffice/
.config/nwg-displays/
.config/abrt
.config/akonadi
.config/akonadi_akonotes_resource_0rc
.config/akonadi_contacts_resource_0rc
.config/akonadi-firstrunrc
.config/akonadi_ical_resource_0rc
.config/akonadi_indexing_agentrc
.config/akonadi_maildir_resource_0rc
.config/baloofilerc
.config/bluedevilglobalrc
.config/btop
.config/containers
.config/dconf
.config/discord
.config/Discord
.config/discoverrc
.config/dolphinrc
.config/drkonqirc
.config/Electron
.config/emaildefaults
.config/emailidentities
.config/google-chrome-canary
.config/gwenviewrc
.config/ibus
.config/imsettings
.config/kactivitymanagerdrc
.config/kactivitymanagerd-statsrc
.config/kalendaracrc
.config/kcminputrc
.config/kconf_updaterc
.config/KDE
.config/kdeconnect
.config/kded5rc
.config/kdedefaults
.config/kdeglobals
.config/kde.org
.config/kglobalshortcutsrc
.config/knfsshare
.config/konsolerc
.config/konsolesshconfig
.config/ktimezonedrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kxkbrc
.config/libaccounts-glib
.config/mimeapps.list
.config/nautilus
.config/nwg-look
.config/nwg-panel
.config/pavucontrol.ini
.config/PlasmaDiscoverUpdates
.config/plasma-localerc
.config/plasmanotifyrc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmaparc
.config/plasmashellrc
.config/PlasmaUserFeedback
.config/plasma-welcomerc
.config/powermanagementprofilesrc
.config/pulse
.config/QtProject.conf
.config/session
.config/specialmailcollectionsrc
.config/spectaclerc
.config/trashrc
.config/Trolltech.conf
.config/Unknown Organization
.config/user-dirs.dirs
.config/user-dirs.locale
.config/Vencord
.config/xdg-desktop-portal-kderc
.config/xsettingsd
