* {
  font-family: "Hack Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: #4b5563;
}

#window label {
  background-color: red;
  font-weight: bold;
}

#workspaces button.urgen {
  color: #11111b;
  background-color: #f38ba8;
  font-weight: 800;
}

#workspaces button {
  color: #686c81;
  font-weight: bolder;
  font-weight: 800;
}

#workspaces button.active {
  color: white;
  font-weight: bolder;
  font-weight: 800;
}

#clock,
#battery,
#temperature,
#backlight,
#pulseaudio,
#tray,
#window,
#cpu,
#network,
#memory,
#power-profiles-daemon,
#privacy-item.screenshare,
#privacy-item.audio-in {
  color: #d1d5db;
  border-radius: 15px;
  padding: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;

  /* margin-top: 10px; */
}

#privacy-item.screenshare,
#privacy-item.audio-in {
  color: #ef4444;
}
