@import "macchiato.css";

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: @base;
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

#pulseaudio:hover {
  background-color: @surface2;
}

#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:focus {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: @red;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#power-profiles-daemon,
#tray,
#pulseaudio {
  padding: 0 10px;
}

#pulseaudio {
  color: @maroon;
}

#tray {
  color: @yellow;
}

#backlight {
  color: @sky;
}

#battery {
  color: @green;
}

#clock {
  color: @flamingo;
}
p #window {
  color: @rosewater;
}

.modules-right,
.modules-left,
.modules-center {
  background-color: @surface0;
  border-radius: 15px;
  margin: 5px;
}

.modules-right {
  padding: 0 10px;
}

.modules-center {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @text;
}

#privacy {
  padding: 0 20px;
  font-weight: bold;
  border-radius: 15px;
}
#privacy-item.screenshare {
  color: @peach;
}
#privacy-item.audio-in {
  color: @peach;
}
#privacy-item.audio-out {
  color: @peach;
}

#power-profiles-daemon.performance {
  color: @red;
}
#power-profiles-daemon.power-saver {
  color: @green;
}

window#waybar.empty #window {
  background-color: transparent;
}
